@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500&display=swap");

body {
  overflow-x: hidden;
}

/* JUMBOTRON */

/* Jumbotron Header */

.jumbo {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(#fff, #678cb9);
  min-height: 300px;
}
#jumbo_para {
  color: #777a85;
}

/* Email News Alert  */

.jumboENA {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  width: 72%;
  height: 180px;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  background-color: #f8f9fc;
}
.jumboENA .text {
  text-align: start;
  padding-top: 1.1rem;
}

/* NEWS ALERT FORM */

.formdiv {
  display: flex;
  justify-content: center;
}
.formdiv form {
  display: flex;
  align-self: center;
}

.btn {
  background-color: #678cb9;
  color: white;
  font-family: "Roboto", sans-serif;
  margin-left: 5px;
}
.btn:hover {
  color: white;
  background-color: #255085;
}

/* FEATURED */
.identification {
  font-size: 11px;
  margin-bottom: 10px;
  color: grey;
  display: inline;
}

.writer {
  color: #363636 !important;
  font-weight: bold;
  font-size: 13px;
}

.image {
  height: 150px;
  border-radius: 5px;
  width: auto;
}
.lists {
  margin-right: 30%;
}

/* FOOTER */


.flash_message{
  color: red;
}