<link href="{{url_for('static',filename='index.css')}}" rel="stylesheet" />

{%include 'components/navbar.html' %}

<!-- JUMBOTRON -->
<div class="row text-white rounded jumbo">
  <div class="col-md-6 p-5">
    <h1 class="text-dark">Study With Pam</h1>
    <p id="jumbo_para">...to demystify medicine.</p>
  </div>
</div>

<!-- EMAIL NEWS ALERT FORM -->
<div class="d-flex mt-5 justify-content-center">
  <div class="row jumboENA p-5">
    <h1>{{error}}</h1>
  </div>
</div>
<!-- FEATURED -->
<!-- FOOTER -->

{%include "components/footer.html"%}
