<link href="{{url_for('static',filename='index.css')}}" rel="stylesheet" />

{%include 'components/navbar.html' %}

<!-- JUMBOTRON -->
<div class="row text-white rounded jumbo">
  <div class="col-md-6 p-5">
    <h1 class="text-dark">Study With Pam</h1>
    <p id="jumbo_para">...to demystify medicine.</p>
  </div>
</div>

<!-- EMAIL NEWS ALERT FORM -->
<div class="d-flex mt-5 justify-content-center">
  <div class="row jumboENA">
    <!-- <div class="col-xs-12 col-md-6 text">
      <h3>Get Latest Medical Articles</h3>
      <p>Enter your Email address and never miss a trend</p>
    </div>
    <div class="col-xs-12 col-md-6 formdiv">
      <div class="input-group mb-3">
        <form action="#" method="POST">
          <input
            type="email"
            name="email_address"
            class="form-control"
            placeholder="Enter your Email"
            required
          />
          <button class="btn btn-dark" type="submit">Register</button>
        </form>
      </div>
    </div> -->
    <p></p>
  </div>
</div>
<!-- FEATURED -->
<!-- FOOTER -->

{%include "components/footer.html"%}
