{%include 'components/navbar.html' %}


<!-- <form action="# method="post" class="m-5">

  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Name</label>
    <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
  </div>
  
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
                <span class="alert">{{ message }}</span>
        {% endfor %}
    {% endif %}
{% endwith %}
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
  </div>

  <button type="submit" class="btn btn-dark">Sign up</button>
</form> -->

{% import "bootstrap/wtf.html" as wtf %}

{%block content%}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Sign Up</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <span class="alert">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}

        <span>Already registered? <a href="{{url_for('security_blueprint.sign_in')}}">Sign in</a></span>

      </div>

    </div>
{%endblock%}
  {%include "components/footer.html"%}
