{%include 'components/navbar.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{%block content%}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2>Sign In</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                    <span class="alert">{{ message }}</span>
            {% endfor %}
        {% endif %}
    {% endwith %}
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "dark"}) }}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}

        <span>Not registered? <a href="{{url_for('security_blueprint.sign_up')}}">Sign up</a></span>

      </div>

    </div>
{%endblock%}
  {%include "components/footer.html"%}